<div *ngIf="hero">
  <h2>{{hero.name}}</h2>
  <div>
    Name:
    <input [(ngModel)]="hero.name" placeholder="Name"/>
  </div>
  <div>
    First Name:
    <input [(ngModel)]="hero.name" placeholder="First Name"/>
  </div>
  <div>
    Last Name:
    <input [(ngModel)]="hero.name" placeholder="Last Name"/>
  </div>
  <div>
    Place:
    <input [(ngModel)]="hero.name" placeholder="Place"/>
  </div>
  <button (click)="updateHero" *ngIf="hero.id">Save</button>
  <button (click)="deleteHero" *ngIf="hero.id">Save</button>
  <button (click)="createHero" *ngIf="hero.id">Save</button>
</div>
